* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 1rem 0;
  background-color: #222;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
